@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: rgb(165, 165, 165);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.common-width {
  max-width: 100%;
  margin: auto;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .common-width {
    padding: 0 5rem;
  }
}
