:root {
  --text-color: hsl(0, 0%, 100%);
}
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: grid;
  place-content: start center;
  min-height: auto;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 1rem + 8vw, 3rem);
  font-weight: 700;
  text-transform: none;
  color: var(--text-color);
  margin: 20px auto;
  opacity: 0.7;
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(
    177deg,
    rgb(255, 255, 255) 53%,
    var(--text-color) 65%
  );
  background: linear-gradient(
    177deg,
    rgb(255, 255, 255) 53%,
    var(--text-color) 65%
  );
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
